@font-face {
    font-family: 'MyFontHeader';
    src: url('../font/Thunder-BlackLC.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MyFontSubheader';
    src: url('../font/Thunder-BoldLC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont';
    src: url('../font/Thunder-LightLC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --body-background-color: rgb(245, 241, 241);
    --body-background-color-transparent: rgba(210, 206, 206, 0.8);
    --content-hover-color: rgba(250, 240, 103, 0.51);
    --home-hover-color: rgba(80, 92, 155, 0.49);
    --projects-hover-color: rgba(224, 109, 89, 0.52);
    --skills-hover-color: rgba(218, 209, 82, 0.5);
    --contact-hover-color: rgba(118, 225, 89, 0.5);
    --h1-background-color: rgba(112, 246, 75, 0.47);
    --h1-color: #f5f1f1;
    --home-h1-background-color: rgba(80, 92, 155, 0.49);
    --projects-h1-background-color: rgba(224, 109, 89, 0.52);
    --skills-h1-background-color: rgba(218, 209, 82, 0.5);
    --contact-h1-background-color: rgba(118, 225, 89, 0.5);
    --hotspot-background-color: #ee7663;
    --hotspot-hand-background-color: #12f39d;
    --hotspot-foot-border-color: #12f39d;
    --annotation-background-color: #ffffff;
    --navbar-background-color: #333;
    --navbar-link-color: white;
    --navbar-link-hover-color: rgba(255, 243, 86, 0.54);
    --my-font-header: 'MyFontHeader', MyFontHeader, sans-serif;
    --my-font-subheader: 'MyFontSubheader', MyFontSubheader, sans-serif;
    --my-font: 'MyFont', MyFont, sans-serif;
}

body, .content, model-viewer, .text, h1, h2, p, .second-paragraph, footer, .hotspot, .annotation, .navbar, nav ul, nav li, nav li a {
    box-sizing: border-box;
}

body {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    height: 250vh;
    background-color: var(--body-background-color);
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc((1em + 2vw) / 2);
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 1px solid rgba(122, 121, 121, 0.01);
    padding-bottom: calc((1em + 2vw) / 2);
    margin-bottom: calc((1em + 2vw) / 2);
    transition: background-color 0.5s ease;
}

.content:hover {
    background-color: var(--content-hover-color);
}

body.Home .content:hover {
    background-color: var(--home-hover-color);
}

body.Projects .content:hover {
    background-color: var(--projects-hover-color);
}

body.Skills .content:hover {
    background-color: var(--skills-hover-color);
}

body.Contact .content:hover {
    background-color: var(--contact-hover-color);
}

model-viewer {
    grid-column: 2;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.text {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    z-index: -1;
    padding: calc((3em + 4vw) / 2);
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    width: 100%;
    padding: calc((0.5em + 0.5vw) / 2);
    font-family: var(--my-font-header);
    background-color: var(--h1-background-color);
    color: var(--h1-color);
    font-size: clamp(4rem, 14vw, 16em);
}

body.Home h1 {
    background-color: var(--home-h1-background-color);
}

body.Projects h1 {
    background-color: var(--projects-h1-background-color);
}

body.Skills h1 {
    background-color: var(--skills-h1-background-color);
}

body.Contact h1 {
    background-color: var(--contact-h1-background-color);
}

h2 {
    text-align: center;
    width: 100%;
    font-family: var(--my-font-subheader);
    font-size: clamp(1.5rem, 4vw, 3em);
}

p, .second-paragraph {
    text-align: justify;
    width: 100%;
    font-family: var(--my-font);
    font-size: clamp(1rem, 2vw, 3em);
    line-height: 1.25;
}

.second-paragraph {
    text-align: left;
    font-size: clamp(1.5rem, 3vw, 2em);
}

footer {
    width: 100%;
    text-align: center;
    padding: calc((1em + 2vw) / 2);
}

.hotspot{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ee7663;
    pointer-events: none;
}

.hotspot[slot="hotspot-hand"]{
    --min-hotspot-opacity: 0;
    background-color: var(--hotspot-hand-background-color);
}

.hotspot[slot="hotspot-foot"]:not([data-visible]) {
    background-color: transparent;
    border-color: var(--hotspot-foot-border-color);
}

.annotation{
    background-color: var(--annotation-background-color);
    position: absolute;
    border-radius: 10px;
    padding: calc((2em + 3vw) / 2);
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 99%;
    z-index: 100;
    background-color: var(--body-background-color-transparent);
    padding-bottom: calc((1em + 2vw) / 2);
    margin-bottom: calc((1em + 2vw) / 2);
}

nav ul {
    list-style-type: none;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 0;
}

nav li {
    width: 25%;
    word-wrap: break-word;
    padding: 0;
}

nav li a {
    display: block;
    color: var(--navbar-link-color);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease;
    font-family: var(--my-font-subheader);
    font-size: clamp(2rem, 6vw, 14em);
    padding: 0;
}

nav li.home, nav li.home a {
    background-color: var(--home-hover-color);
}

nav li.projects, nav li.projects a {
    background-color: var(--projects-hover-color);
}

nav li.skills, nav li.skills a {
    background-color: var(--skills-hover-color);
}

nav li.contact, nav li.contact a {
    background-color: var(--contact-hover-color);
}

nav li a.home:hover {
    background-color: var(--home-hover-color);
}

nav li a.projects:hover {
    background-color: var(--projects-hover-color);
}

nav li a.skills:hover {
    background-color: var(--skills-hover-color);
}

nav li a.contact:hover {
    background-color: var(--contact-hover-color);
}